.post {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 1000px) {
    .picture {
        width: 90%;
        height: auto;      
    }
}

@media (min-width: 1000px) {
    .picture {
        width: 50%;
        height: 'auto';
    }
}